# Developer ownership

/developers/rohit/ @rohitramteke2
/developers/pranay/ @pranay
/developers/siddharth/ @siddharth
/developers/tanuja/ @tanuja
/developers/ajay/ @ajay
/developers/maninder/ @maninder
/developers/tanuj/ @tanuj
/developers/akshay/ @akshay
/developers/neeru/ @neeru
/developers/shubham/ @shubham
